.header {
    background-image: url('../images/triangles.jpg');
    text-align: center;
}
.headerContent {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

.button {
    background-color: #000000; /* Black */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
